<div class="card flex justify-content-center mt-6">
  <p-card header="登入">
    <p-divider />
    <form>
      <p-floatLabel>
        <input pInputText id="email" />
        <label for="email">email</label>
      </p-floatLabel>
      <div class="mt-4">
        <p-floatLabel>
          <input pInputText id="password" type="password" />
          <label for="password">password</label>

        </p-floatLabel>
        <a href="/">還沒有帳號?</a>
         <div class="mt-4 col-6 col-offset-3">
          <p-button label="登入" severity="danger" size="small"/>
         </div>

      </div>

      <!-- $event是js的語法，代表當前事件 -->

    </form>
  </p-card>
</div>
